<div class="container">
    <div class="seperate">
            <h1>Rooms</h1>
            <button class="btn btn-md btn-outline-primary">
                <i class="fa fa-plus"></i>New Room</button>
    </div>
    <h5>Garage</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Container Name</td>
                <td>Number of Items</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Box1</td>
                <td>5</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
            <tr>
                <td>Box2</td>
                <td>17</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
            <tr>
                <td>Box3</td>
                <td>0</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
        </tbody>
    </table>
    <h5>Basement</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Container Name</td>
                <td>Number of Items</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Box1</td>
                <td>5</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
            <tr>
                <td>Box2</td>
                <td>17</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
            <tr>
                <td>Box3</td>
                <td>0</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
        </tbody>
    </table>
    <h5>Attic</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Container Name</td>
                <td>Number of Items</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Box1</td>
                <td>5</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
            <tr>
                <td>Box2</td>
                <td>17</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
            <tr>
                <td>Box3</td>
                <td>0</td>
                <td class="action-items">
                    <button type="button" class="btn btn-outline-info">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-outline-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
        </tbody>
    </table>
  </div>

  